<nav style="margin:0 0 5em 0">
    <div class="nav-wrapper" style="background-color:#EE6352">
    <a href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to 'Movie List', movies_path %></li>
    </ul>
    </div>
</nav>